
header{
    display: flex;
    height: auto;
    width: 98%;
}
#h-left{display:flex;
    width: 50%;
    height: auto;
    font-family: poppins semi bold;
    padding-left: 5rem;
}
#h-left p{display: flex;
    font-size: 17px;
    font-family: poppins semi bold;
    padding-left: 35px;
}
#h-right{ display: grid;
    width: 50%;
}
a{
    text-decoration: none;
    color: rgb(175, 68, 68);
}
a:hover{cursor: pointer;
    color: rgb(27, 26, 26);}
.perfil{
    height:150px;
    border-radius: 50px; }
#h-right ul{   display: flex;
    list-style: none;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}
main{
display: flex;
    width: 960px;
    height: auto;
}
#safe-left{display: flex;
    width: 70%;
    height: 500px;
    justify-content: center;
    background-image: url("./background.jpg");
}
#safe-left p{
    font-size: 27px;
    font-family: poppins semi bold;
    
}
.container{display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    align-items: center;
    padding: 3.5rem;
    margin-top: 5%;
    background: #bbd2da7a;
    width: 14.5rem;
    height: 21rem;
}
.container ul{
    display: flex;
    background-color: antiquewhite;
    width: 19rem;
    justify-content: center;
    list-style: none;
}
#perfil{
    width: 200px;
    height: 200px;
    border-radius: 50% 50%;
}
#safe-right{display: flex;
    width: 50%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}
#safe-right div{
    display: flex;
    padding-left: 3rem;
}
#safe-right h1{ display: block;
    margin: 10px;
    font-family: poppins semi bold;
    font-size: 100px;
}

#safe-right a{
    display: flex;
    background: #88afc0a9;
    font-family: avenir light;
    height: 2.2rem;
    width: 9.9rem;
    border-radius: 32px;
    margin-left: 100px;
    align-items: center;
    justify-content: center;
}
#safe-right a:hover{background: rgb(88, 180, 241);
cursor: pointer;
}
#safe-right p{
    font-size: 25px;
    font-family: avenir light;
}

.text{
    font-family: avenir light;
    font-size: 17px;
}
footer{display: flex;
}
.f-left{display:flex;
    width: 43%;
    height: auto;
    font-family: poppins semi bold;
    padding-left: 5rem;
    align-items: center;
}
.f-right{display: grid;
    width: 50%;
    height: auto;
    text-align: center;
}
.f-right ul{display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding-right: 20px;
}
.f-right div{display: grid;
    justify-items: center;
}

    